    <div class="uk-margin-medium-left uk-margin-medium-right">
    {{ form_start(form) }}
        <label class="uk-form-label uk-label uk-border-rounded">Miniature :</label>
            {{ form_widget(form.pictureFile, {'attr': {'class': 'uk-form-width-medium uk-margin-bottom'}}) }}
        <div class="uk-flex uk-margin-bottom">
        <label class="uk-form-label uk-label uk-border-rounded">Nom :</label>
            {{ form_widget(form.name, {'attr': {'class': 'uk-form-width-medium uk-margin-right'}}) }}
        <label class="uk-form-label uk-label uk-border-rounded">Description :</label>
            {{ form_widget(form.shortDescription, {'attr': {'class': 'uk-form-width-large'}}) }}
        </div>
        <br>
        <label class="uk-form-label uk-label uk-border-rounded">Presentation :</label>
            {{ form_widget(form.contenu, {'attr': {'class': 'uk-form-width-medium'}}) }}
        <br>
        <label class="uk-form-label uk-label uk-border-rounded">Tourisme :</label>
            {{ form_widget(form.tourisme, {'attr': {'class': 'uk-form-width-medium'}}) }}
        <br>
    <button class="uk-button uk-button-default uk-box-shadow-large uk-border-pill uk-margin-bottom">valider</button>
{{ form_end(form) }}
