{% extends 'base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h1 class="uk-text-center">{{hotel.name}}</h1>
<div class="uk-margin-medium-top uk-margin-right uk-margin-medium-left">
{% if is_granted("ROLE_ADMIN") %}
    <a class="uk-button uk-button-default uk-box-shadow-large uk-border-pill" href="{{ path('hotel_edit', {'slug': hotel.slug}) }}">editer</a>
    {% endif %}
</div>
             
    <div class="uk-margin-medium-top uk-margin-medium-left uk-margin-medium-right uk-card uk-card-default uk-card-body uk-border-rounded">
<h4>Presentation :</h4>
<hr class="uk-divider-icon">
        <div class="content">
            {{ hotel.contenu|raw }}
        </div>
<hr class="uk-divider-icon">
    </div>

<div class="uk-flex uk-margin-medium-top">
<div class="uk-width-2-3 uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-medium-left">
<h4>Activité touristique :</h4>
<hr class="uk-divider-icon">
    {{ hotel.tourisme|raw }}
<hr class="uk-divider-icon">
</div>
<div class="uk-width-1-3 uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-medium-right uk-margin-medium-left">
<h4>avis :</h4>
<hr class="uk-divider-icon">
<p>work in progress<p>
<hr class="uk-divider-icon">
</div>
</div>
    <a class="uk-button uk-button-default uk-margin-medium-bottom uk-margin-medium-left uk-margin-top uk-box-shadow-large uk-border-pill" href="{{ path('hotel_index') }}">Retour</a>
{% if app.user %}
    <div class="uk-card uk-card-default uk-width-1-2 uk-text-center uk-align-center uk-border-rounded uk-box-shadow-large">
<p class="uk-margin uk-padding-small uk-text-meta uk-text-left">Laiser un commentaire</p>
{% include('comment_hotel/_form.html.twig') %}
{% else %}
    <div class="uk-flex uk-flex-center uk-card uk-card-default uk-width-1-2 uk-align-center uk-border-rounded uk-box-shadow-large">
        <p>
        <a href="{{ path('app_login') }}">Connecter vous pour laisser un commentaire</a></p>
    </div>
{% endif %}
</div>

    {% for comment_hotel in hotel.commentHotels|reverse %}

        <div class="uk-align-center uk-box-shadow-large uk-card uk-card-default uk-card-body uk-width-1-2@m uk-border-rounded uk-margin-bottom uk-margin-remove-top">
    <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
            </div>
        </div>
    <div class="uk-align-right">
    <p class="uk-text-muted uk-margin-small-left">{{ comment_hotel.auteur.name }}</p>
        {{ comment_hotel.commentDate|date("d/m/Y") }}
       </div> 
    </header>
    <div class="uk-comment-body">
    {{ comment_hotel.comment|raw }}
    </div>
    {% if app.user %}
        {% if app.user.id == comment_hotel.auteur.id or is_granted("ROLE_ADMIN") %}
    <div class="uk-align-right">
    {{ include('comment_hotel/_delete.html.twig') }}
    </div>
    {% endif %}
        {% endif %}
    <br>
</div>
    {% endfor %}
<a class="uk-margin-medium-left uk-margin-medium-bottom uk-button uk-button-default uk-box-shadow-large uk-border-pill" href="#" uk-totop uk-scroll></a>    
{% endblock %}
