{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="uk-text-center">Register</h1>
    <div class="uk-child-width-1-3@m" uk-grid>
    <div></div>
<div class="uk-card uk-card-default uk-card-body uk-margin-left uk-margin-bottom uk-border-rounded uk-align-center">
    {{ form_start(registrationForm) }}
    <div class="uk-margin-bottom">
        <div class="uk-margin-bottom">
        <label class="uk-form-label uk-label uk-border-rounded">Nom :</label>
            {{ form_widget(registrationForm.name, {'attr': {'class': 'uk-form-width-small uk-margin-bottom'}}) }}
        </div>
        <label class="uk-form-label uk-label uk-border-rounded">Adresse :</label>
            {{ form_widget(registrationForm.email, {'attr': {'class': 'uk-form-width-small uk-margin-bottom'}}) }}
        </div>
        <div class="uk-margin-bottom">
        <label class="uk-form-label uk-label uk-border-rounded">Passsword :</label>
            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'uk-form-width-small uk-margin-bottom'}}) }}
        </div>
        <div class="uk-margin-bottom">
        <label class="uk-form-label uk-label uk-border-rounded">Agree of terms :</label>
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'uk-form-width-small uk-margin-bottom'}}) }}
        </div>
        <button class="uk-button uk-button-default uk-box-shadow-large uk-border-pill uk-margin-bottom" type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    <div></div>
    </div>
    </div>
{% endblock %}
