{{ form_start(form) }}
    <label class="uk-form-label uk-label uk-border-rounded">Adresse :</label>
            {{ form_widget(form.adresse, {'attr': {'class': 'uk-form-width-medium uk-margin-bottom'}}) }}
            <br>
    <label class="uk-form-label uk-label uk-border-rounded">Nom :</label>
            {{ form_widget(form.name, {'attr': {'class': 'uk-form-width-medium uk-margin-bottom'}}) }}
            <br>
    <label class="uk-form-label uk-label uk-border-rounded">Type d'etablissement :</label>
            {{ form_widget(form.type, {'attr': {'class': 'uk-form-width-medium uk-margin-bottom'}}) }}        
    <button class="uk-button uk-button-default uk-box-shadow-large uk-border-pill uk-margin-bottom uk-margin-top">valider</button>
{{ form_end(form) }}
