{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
<div class="uk-text-center">
    <h1>Blog et actus</h1>
    </div>
<a class="uk-button uk-button-default uk-margin-medium-bottom uk-margin-medium-left uk-margin-top uk-box-shadow-large uk-border-pill" uk-icon="icon: plus" href="{{ path('blog_new') }}"></a>
    <div class="uk-child-width-1-3@m" uk-grid>

        {% for blog in blogs|reverse %}

            <section>
                <div class ="uk-margin-medium-top uk-margin-medium-left uk-margin-medium-right uk-margin-bottom uk-card uk-card-default uk-card-body uk-border-rounded">
                    <div class="uk-align-right">
                        {{ blog.date|date('Y-m-d') }}
                    </div>
                <div>
                    <h2>{{ blog.sujet|raw }}</h2>
                </div>
                <div class="uk-flex uk-flex-center uk-margin-top">
                    <img class="uk-border-rounded" src="{{ vich_uploader_asset(blog, "pictureFile") }}">
                </div>

                <div class="uk-margin-bottom uk-margin-top uk-card-medium uk-card-default uk-card-body uk-border-rounded uk-text-small uk-text-truncate">
                    {{ blog.shortDescription|raw }}
                </div>

                <a class="uk-button uk-button-default uk-box-shadow-large uk-border-pill" uk-icon="icon: arrow-right" href="{{ path('blog_show', {slug: blog.slug}) }}"></a>
                </div>
            </section>

        {% endfor %}
        </div>

    <a href="{{ path('blog_new') }}">Create new</a>
{% endblock %}
