{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1 class="uk-text-center">{{blog.sujet}}</h1>

<div class="uk-margin-medium-top uk-margin-right uk-margin-medium-left">
{% if is_granted("ROLE_ADMIN") %}
    <a class="uk-button uk-button-default uk-box-shadow-large uk-border-pill" href="{{ path('blog_edit', {'slug': blog.slug}) }}">editer</a>
    {% endif %}
</div>

    <article>
    <div class="uk-margin-medium-top uk-margin-medium-left uk-margin-medium-right uk-card uk-card-default uk-card-body uk-border-rounded">
        <div class="uk-align-right">
            <p>{{ blog.date|date('Y-m-d') }}</p>
        </div>
<h4>Article :</h4>
<hr class="uk-divider-icon">
        <div class="content">
            {{ blog.contenu|raw }}
        </div>
<hr class="uk-divider-icon">
    </div>
    <div class="uk-margin-medium-top uk-margin-right uk-margin-medium-left">
        <a class="uk-button uk-button-default uk-box-shadow-large uk-border-pill" href="{{ path('blog_index') }}">retour</a>
    </div>
    </div>
</article>
<br>
{% endblock %}
