{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <div class="uk-text-center">
    <h1>Restaurant</h1>
    </div>
    {% if is_granted("ROLE_ADMIN") %}
<a class="uk-button uk-button-default uk-margin-medium-bottom uk-margin-medium-left uk-margin-top uk-box-shadow-large uk-border-pill" uk-icon="icon: plus" href="{{ path('restaurant_new') }}"></a>
{% endif %}
    <div class="uk-flex uk-margin-medium-top uk-margin-medium-bottom">
{% for restaurant in restaurants %}

    <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-medium-right uk-margin-medium-left uk-width-1-2">
        <h3>{{ restaurant.name|raw }} : </h3>
    
        <img class="uk-margin-bottom " src="{{ vich_uploader_asset(restaurant, "pictureFile") }}" height="50" width="250"/>

       <div class ="uk-margin-bottom uk-text-small uk-text-truncate">
        {{ restaurant.shortDescription|raw }}
       </div>
    <a class="uk-button uk-button-default uk-box-shadow-large uk-border-pill" uk-icon="icon: arrow-right" href="{{ path('restaurant_show', {slug: restaurant.slug}) }}"></a>    
    </div>
{% endfor %}
</div>
<div class="uk-margin-xlarge-left uk-margin-bottom">
{{ knp_pagination_render(restaurants) }}
</div>
{% endblock %}
