{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <h1>Restaurant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>ShortDescription</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.picture }}</td>
                <td>{{ restaurant.shortDescription }}</td>
                <td>{{ restaurant.contenu|raw }}</td>
                <td>{{ restaurant.date ? restaurant.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ restaurant.updatedAt ? restaurant.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('restaurant_show', {'slug': restaurant.slug}) }}">show</a>
                    <a href="{{ path('restaurant_edit', {'slug': restaurant.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('restaurant_new') }}">Create new</a>
{% endblock %}
